.page {
  padding: 24px;
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.button {
  transition: opacity 0.7s;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.title {
  font-size: 24px;
  color: #121212;
}

.tabs {
  display: flex;
  justify-content: space-between;
  padding: 0;
  // gap: 16px;
}

.tab {
  width: 50%;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  background-color: lightgrey;
  border: none;
  border-bottom: 2px solid transparent;
  transition: background-color 0.3s, color 0.3s,
    border-color 0.3s; // Плавна зміна кольорів під час ховера

  &:hover {
    background-color: grey;
    color: #f79f64;
    border-bottom: 2px solid rgb(0, 0, 0);
  }
}

.tab-active {
  background-color: grey;
  color: rgb(255, 239, 239);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.tab-content {
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  margin-top: 5px;
}

.community-image {
  width: 100%;
  height: auto;
}

.telegram-button {
  width: 100%;
  padding: 15px 0;
  background-color: #fa761e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s;

  &:hover {
    color: gray;
    background-color: lighten(#fa761e, 15%);
  }
}
